extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Kendall Rundquist

        p.lead.text-light
          | Full-stack developer in the making. Baker, and co-host of the Tales Aplenty podcast.

        .portfolio-bio
          p
            | I am currently enrolled in the Treehouse Full Stack Techdegree program.  I currently work at General Motors and have recently accepted a new position there as a software developer!  Previously I worked there as a Business Analyst.  I am excited to continue to grow my skills as a developer. Please reach out with any questions.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li HTML
          li CSS
          li Vanilla JS
          li Node.js
          li Express
          li Pug
          li Ajax
          li Public APIs
          li Team Foundation Server
        h6 Contact Info

        ul
          li 281-610-3789
          li kcrundquist@gmail.com

        a.button.expanded(href='https://www.linkedin.com/in/kendall-rundquist-ab665467/') LinkedIn
        a.button.expanded(href='https://github.com/Tythyrn?tab=repositories') GitHub
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  